<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<% if @project.tasks.size > 0 %>
  <h2>Incomplete Tasks</h2>	
  <div class="tasks" id="incomplete_tasks">
  <% for task in @project.tasks %>
    <% if task.complete == false %>  
      <h3><%= render task %></h3>
    <% end%>
  <% end %>
  </div>

  <h2>Complete Tasks</h2>
  <div class="tasks" id="complete_tasks">
  <% for task in @project.tasks %>
    <% if task.complete == true %>  
        <h3><%= render task %></h3>
    <% end%>
  <% end %>
  </div>
<% end %>

<h2>New Task</h2>
<%= form_for [@project, Task.new] do |f| %>
  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p></= f.submit %></p>
<% end %> 
  
<%= link_to 'Back', projects_path %>
